html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullPageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.centeredTextPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
