.fileReport {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 4px;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

.fileContainer img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.reportContainer {
  padding: 8px 8px;
}
