.fileInput {
  display: flex;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.fileInput input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.fileInput:focus-within {
  /* outline: 1px solid; */
}
