.taskDialog {
  min-height: 100%;
  padding: 0 0 75px 0 !important;
}

.taskContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 !important;
  padding: 0 !important;
}

.actionCenter {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px !important;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
