.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 1000;
}
